@media print {
  // td,
  // th {
  //     line-height: 250px;
  // }

  .tbl {
      display: table;
  }
  .tbl>div {
      display: table-row;
  }
  /* table structure is three level: table > row > cell */
  .tbl>div>* {
      display: table-cell;
  }
  /* special cases */
  .tbl .tbl-head {
      display: table-header-group;
  }
  .tbl .tbl-body {
      display: table-row-group;
  }
  .tbl .tbl-foot {
      display: table-footer-group;
  }

  .nonBreakable{
      page-break-inside: avoid;
  }
}
/*end of media print*/
.a5-half{
  // margin:2px;
  width: 14.81cm;
  height: calc(21.1cm/2);
}

.a5{
  // margin:2px;
  width: 14.81cm;
  height: 21.1cm;
}

.a4 {
  // margin:2px;
  width: 21cm;
  height: 29.7cm;
}

.b-top {
  border-top: 1px solid black;
}
.b-bottom {
  border-bottom: 1px solid black;
}
.b-left {
  border-left: 1px solid black;
}
.b-right {
  border-right: 1px solid black;
}

.b-all{
  border:1px solid black;
}

.border-b-0 {
  border-bottom: 0;
}
.border-t-0 {
  border-top: 0;
}
.border-r-0 {
  border-right: 0;
}
.border-l-0 {
  border-left: 0;
}

html {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  line-height: normal !important;
  padding: 0 !important;
  margin: 0 !important;
}
/* .wrapper {
  margin: 0.5mm 2mm 1mm 2mm;
} */
