@import '../../../index.less';

#edit-drawer {
    .ant-drawer-header {
        padding: 14px 5px !important;
        border-bottom: 1px solid #eee;
        vertical-align: middle;
        background-color: @layout-header-background;
        // box-shadow: 0px 1px 1px #aaa;

        .header-title {
            font-size: 16pt;
            font-weight: 600;
        }
    }
}