@import '~antd/lib/style/themes/default.less';
// @import '~antd/lib/style/themes/dark.less';
// @import '~antd/lib/style/themes/compact.less';
@import '~antd/dist/antd.less';

// -------- Colors -----------
@saptsys-dark-color: #0b1228;
@saptsys-sky-color-1: #0994b7;
@saptsys-sky-color-2: #187288;

@primary-color: @blue-6;
@info-color: @primary-color;
@success-color: @green-6;
@processing-color: @blue-6;
@error-color: @red-5;
@highlight-color: @red-5;
@warning-color: @gold-6;
@normal-color: #d9d9d9;
@white: #fff;
@black: #000;

//----------- Layout --------------
@layout-body-background: #f0f2f5;
@layout-header-background: @blue-3;
@layout-header-height: 40px;
@layout-header-padding: 0 10px;
@layout-header-color: @text-color-dark;
@layout-footer-padding: 3px;
@layout-footer-background: @saptsys-sky-color-2;
@layout-sider-background: @saptsys-dark-color;
@layout-trigger-height: 48px;
@layout-trigger-background: #002140;
@layout-trigger-color: #fff;
@layout-zero-trigger-width: 36px;
@layout-zero-trigger-height: 42px;
// Layout light theme
@layout-sider-background-light: #fff;
@layout-trigger-background-light: #fff;
@layout-trigger-color-light: @text-color;